html, 
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  --primary: #76ff03;/*#24ff53;*/
  --primaryLight: #b0ff50;
  --primaryDark: #32cb00; /*#04e02a;*/
}
a {
  color: var(--primaryDark);  
  text-decoration: none !important;  
}
a:hover {
  text-decoration: none !important; 
}
.top-space {
  margin-top: 3rem; 
}
.bottom-space {
 margin-bottom: 3rem;   
}
form button {
  background: var(--primary);
}
form button:disabled {
  /*background: var(--primaryDark); 
  border: 1px solid var(--primaryDark);*/
  background: #f4f4f4;  
}
button {
  font-weight: bolder !important;  
}
button div  {
 color: #000 !important; 
}
textarea{
  height: 6rem !important;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem; 
}
input:focus, textarea:focus {
  border-color: var(--primaryDark) !important;  
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.text-primary {
  color: var(--primaryDark); 
}
.bg-primary {
  background: var(--primary); 
}
input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}
input[type="checkbox"]:checked {
  background: var(--primary) !important; 
} 
.white-text {
  color : #fff;
}
.grey {
  background: #f6f6f6;  
}
.transparent {
  background: transparent; 
}
.full-height {
  height: 100vh; 
}
.expand-height {
  height: 100%;
  overflow: scroll; 
}
